{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="title accountTitle">Mon Compte</h1>
        </div>
    </diV>
    <div class="row">
        <div class="col accountSubtitle">
            <a class="title accountLinkHover" href="#">Créer une Partie</a><br />
            <a class="title accountLinkHover" href="#">Statistiques</a><br />
            <a class="title accountLinkHover" href="#">Historique</a><br />
            <a class="title accountLinkHover" href="{{ path('app_editEmail') }}">Changement d'email</a><br />
            <a class="title accountLinkHover" href="#">Changement de Mot de Passe</a>
        </div>
    </div>
</div>

{% endblock body %}
