{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="title accountTitle">Mon Compte</h1>
        </div>
    </diV>
    <div class="row">
        <div class="col accountSubtitle">
            <h2 class="title">Créer une Partie</h2>
            <h2 class="title">Statistiques</h2>
            <h2 class="title">Historique</h2>
            <h2 class="title">Changement d'email</h2>
            <h2 class="title">Changement de Mot de Passe</h2>
        </div>
    </div>
</div>

{% endblock body %}
