{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h3 mb-3 font-weight-normal loginFormTitle spacer">Changement d'Email</h1>
            {{ form_start(editEmailForm) }}
                {{ form_row(editEmailForm.email, {'label': false, 'attr': {'class': 'form-control loginForm spacer', 'placeholder': 'Email'}}) }}
                <button class="btn btn- btn-primary loginForm spacer">Changer</button>
            {{ form_end(editEmailForm) }}
        </div>
    </div>
</div>
{% endblock %}
