{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="h3 mb-3 font-weight-normal loginFormTitle spacer">Entrez votre email</h1>
            {% for message in app.flashes('emailInfo') %}
            <div>
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        <form action="{{ path('app_forgetPassword') }}" method="post">
            <div class="form-input">
                <input type="text" id="email" name="email" value="" class="form-control loginForm spacer"/>
            </div>
            <div>
                <input type="submit" class="btn btn- btn-primary loginForm spacer" value="Envoyer Email" />
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}
