{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row divTitle">
        <div class="col title">
            <h1>My Yahtzee Records <i class="fas fa-dice"></i></h1>
        </div>
        <div class="w-100 subtitle"></div>
        <div class="col">
            <p>Feuilles de score et enregistrement de mes parties de Yahtzee</p>

        </div>
    </div>
</div>

{% endblock body %}
