<h3>Récupération de mot de passe sur My Yahtzee Records!</h3>

Bonjour {{ email }},<br />

Pour changer votre mot de passe, cliquez sur : <a href="{{ url('app_resetPassword', {'token': token }) }}">Changer mon mot de passe</a>.
<br />
Merci!
