
body {
    background-color: #191814;
}

.navbar{
    font-family: 'Nunito', sans-serif;
}

.divTitle{
    margin-top: 20%;
}

.title {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: white;
}

p{
    font-family: 'Nunito', sans-serif;
    color: white;
    padding-left: 5%;
}

.spacer{
    margin-top: 10px;
}

.loginFormTitle{
    font-family: 'Nunito', sans-serif;
    color: white;
}

.loginForm{
    font-family: 'Nunito', sans-serif;
    color: black;
    width: 150px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #343a40;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: white;
}

.download>a:hover{
    text-decoration:none;
}
