
body {
    background-color: #191814;
}

.navbar {
    font-family: 'Nunito', sans-serif;
}

.userMenu {
    color: lightgrey;
    font-size: 0.9em;
}

.divTitle{
    margin-top: 20%;
}

.title {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: white;
}

p{
    font-family: 'Nunito', sans-serif;
    color: white;
    padding-left: 5%;
}

.spacer{
    margin-top: 10px;
}

.loginFormTitle{
    font-family: 'Nunito', sans-serif;
    color: white;
}

.loginForm {
    font-family: 'Nunito', sans-serif;
    color: black;
    width: 150px;
}

.accountTitle {
    padding-top: 2%;
    width: 100%;
    text-align: center;
}

.accountSubtitle {
    margin-top: 2%;
    text-align: center;
}

.createParty {
    margin-top: 20px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #343a40;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: white;
}

.download>a:hover{
    text-decoration:none;
}
